<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <style>
        /*.content{*/
        /*    background-image: url("img/pozadina.jpg");*/
        /*    background-repeat: no-repeat;*/
        /*    !*background-attachment: fixed;*!*/
        /*    background-size: 1522px 753px;*/
        /*    width: 1200px;*/
        /*    height: 708px;*/
        /*}*/
    </style>
</head>
<body style="background: bisque" class="content">
<footer style="margin-left: 488px">
    <a class="nav-link active" href="/home"
       style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: saddlebrown">
        Почетна
    </a>
    <a class="nav-link active" href="/hotels"
       style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: saddlebrown">
        Хотели
    </a>

    <a class="btn btn-success btn-sm-ml-3" href="/aboutUs"
       style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: crimson">
        <i class="fa fa-shopping-cart"></i>За нас
    </a>

    <a class="btn btn-light btn-sm-ml-3" href="/contact"
       style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: saddlebrown">
        <i class="fa fa-shopping-cart"></i>Контакт
    </a>
</footer>
<br>
<br>
<br>
<br>
<div style="margin-left: 538px">
    <div style="width: 408px">
    <span>
        <b style="margin-left: 110px">За апликацијата</b>
        <br>
        </span>
        <br>
        На апликацијата Find Hotel со само еден клик на селектираниот хотел ќе се прикажат сите детали за самиот хотел,
        па така корисниците веднаш ќе знаат со што располага истиот и дали им одговара.
    </div>
    <br>
    <br>
    <br>
    <div style="width: 408px">
    <span>
        <b style="margin-left: 145px">За нас</b>
        <br>
        </span>
        <br>
        Ние сме група студенти, чија цел е да им овозможи на корисниците на едно место да ги пронајдат сите хотели кои
        се
        наоѓаат на територија на град Скопје.
    </div>
</div>
</body>
</html>