<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <style>
        body {
            background-image: url("pozadina.jpg");
        }

        /*.content{*/
        /*    background-image: url("img/pozadina.jpg");*/
        /*    background-repeat: no-repeat;*/
        /*    !*background-attachment: fixed;*!*/
        /*    background-size: 1522px 715px;*/
        /*    width: 1200px;*/
        /*    height: 708px;*/
        /*}*/
    </style>
</head>
<body style="background: bisque; margin-left: 498px" class="content">
<a class="nav-link active" href="/home"
   style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: saddlebrown">
    Почетна
</a>
<a class="nav-link active" href="/hotels"
   style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: saddlebrown">
    Хотели
</a>

<a class="btn btn-success btn-sm-ml-3" href="/aboutUs"
   style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: saddlebrown">
    <i class="fa fa-shopping-cart"></i>За нас
</a>

<a class="btn btn-light btn-sm-ml-3" href="/contact"
   style="margin-left: 60px; text-decoration: none; font-size: 20px; font-weight: bold; color: crimson">
    <i class="fa fa-shopping-cart"></i>Контакт
</a>
<br>
<br>
<br>
<br>

<div style="margin-left: 110px">
    <span>
        Теодора Стоиловска
        <br>
        teodora.stoilovska@students.finki.ukim.mk
    </span>
    <br>
    <br>


    <span>
        Викторија Серафимовска
        <br>
        viktorija.serafimovska@students.finki.ukim.mk
    </span>
    <br>
    <br>


    <span>
        Габриела Шурбеска
        <br>
        gabriela.shurbeska@students.finki.ukim.mk
    </span>
    <br>
    <br>


    <span>
        Христијан Ташковски
        <br>
        hristijan.tashkovski@students.finki.ukim.mk
    </span>
    <br>
    <br>


    <span>
        Љубица Серафимовска
        <br>
        ljubica.serafimovska@students.finki.ukim.mk
    </span>
    <br>
</div>

</body>
</html>