<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .container {
            background-image: url("img/pozadina.jpg");
            background-repeat: no-repeat;
            /*background-attachment: fixed;*/
            background-size: 1522px 717px;
            width: 1200px;
            height: 708px;
            /*background: bisque;*/
        }

        footer {
            margin: auto;
        }

    </style>
</head>
<body style="background: bisque" class="container">
<!--<img th:src="@{/images/pozadina.jpg}" />-->
<div>
    <footer style="margin-left: 500px">
        <a class="nav-link active" href="/home"
           style="margin-left: 60px; text-decoration: none; font-size: 20px; font-weight: bold; color: crimson">
            Почетна
        </a>
        <a class="nav-link active" href="/hotels"
           style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: saddlebrown">
            Хотели
        </a>

        <a class="btn btn-success btn-sm-ml-3" href="/aboutUs"
           style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: saddlebrown">
            <i class="fa fa-shopping-cart"></i>За нас
        </a>

        <a class="btn btn-light btn-sm-ml-3" href="/contact"
           style="margin-left: 60px; text-decoration: none;font-size: 20px; font-weight: bold; color: saddlebrown">
            <i class="fa fa-shopping-cart"></i>Контакт
        </a>

        <br>
    </footer>

    <div style="margin-left: 600px">
        <br>
        <br>

        <h3 style="margin-left: 40px">Одберете го најдобриот хотел за вас</h3>
        <br>
        <br>


        Кликнете <a href="/hotels" style="text-decoration: none; color: black; font-size: 20px">ОВДЕ</a> за да Ви се
        прикажат сите достапни хотели во Скопје.

        <br>

        <ul>
            <li>
                Ви нудиме и приказ на мапа
            </li>
            <br>
            <li>
                Сите хотели во Скопје
            </li>
            <br>
            <li>
                Можност за додавање на новоизграден хотел
            </li>
            <br>
            <li>
                Приказ на сите достапни детали за избраниот хотел
            </li>
        </ul>
    </div>
</div>
</body>
</html>