
.content {
    background-image: url("static/images/pozadina.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: 1525px 753px;
    width: 1480px;
    height: 708px;
}

footer {
    margin-left: 490px;
}

body {
    background: bisque
}

a {
    margin-left: 60px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}