<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <style>
        /*.content{*/
        /*    background-image: url("img/pozadina.jpg");*/
        /*    background-repeat: no-repeat;*/
        /*    !*background-attachment: fixed;*!*/
        /*    background-size: 1522px 753px;*/
        /*    width: 1200px;*/
        /*    height: 708px;*/
        /*}*/
    </style>
</head>
<body class="content">
<header style="margin-left: 7px;margin-top: -7px; background: bisque; width: 1500px; height: 58px">

    <div style="padding-top: 18px">
        <a class="nav-link active" href="/home"
           style="margin-left: 58px; text-decoration: none; font-size: 28px; font-weight: bold; color: crimson; font-family: 'Brush Script MT'; letter-spacing: 2px;">
            <b>FindHotel</b>
        </a>
    </div>

    <div style="margin-top: -30px">
        <a class="nav-link active" href="/home"
           style="margin-left: 518px; text-decoration: none; font-size: 21px; font-weight: bold; color: saddlebrown">
            Почетна
        </a>
        <a class="nav-link active" href="/hotels"
           style="margin-left: 110px; text-decoration: none;font-size: 21px; font-weight: bold; color: saddlebrown">
            Хотели
        </a>

        <a class="btn btn-success btn-sm-ml-3" href="/aboutUs"
           style="margin-left: 110px; text-decoration: none;font-size: 21px; font-weight: bold; color: crimson">
            <i class="fa fa-shopping-cart"></i>За нас
        </a>

        <a class="btn btn-light btn-sm-ml-3" href="/contact"
           style="margin-left: 110px; text-decoration: none;font-size: 21px; font-weight: bold; color: saddlebrown">
            <i class="fa fa-shopping-cart"></i>Контакт
        </a>

        <br>
    </div>
</header>
<br>
<br>
<div style="margin-left: 466px; margin-top: 46px; font-family: 'Brush Script MT'; background: lavenderblush;  border-radius: 25px;height: 190px; width: 598px">
    <div style="width: 408px; margin-left: 100px; padding-top: 40px;  text-align: justify;">
    <span>
        <b style="margin-left: 117px">За апликацијата</b>
        <br>
        </span>
        <br>
        На апликацијата Find Hotel со само еден клик на селектираниот хотел ќе се прикажат сите детали за самиот хотел,
        па така корисниците веднаш ќе знаат со што располага истиот и дали им одговара.
    </div>
</div>
<div style="margin-left: 589px; margin-top: 48px; font-family: 'Brush Script MT'; background: lavenderblush;  border-radius: 25px;height: 170px; width: 598px">
    <br>
    <br>
    <div style="width: 408px; margin-left: 100px; margin-top: -23px;   text-align: justify;">
    <span>
        <b style="margin-left: 148px">За нас</b>
        <br>
        </span>
        <br>
        Ние сме група студенти, чија цел е да им овозможи на корисниците на едно место да ги пронајдат сите хотели кои
        се наоѓаат на територија на град Скопје.
    </div>
</div>

<footer style="margin-top: 128px">
    <hr>
    <span style="margin-left: 728px"> ©2022. FindHotel Skopje</span>
</footer>

</body>
</html>