<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>

</head>
<body>
<header style="margin-left: 7px;margin-top: -7px; background: bisque; width: 1500px; height: 58px">

    <div style="padding-top: 18px">
        <a class="nav-link active" href="/home"
           style="margin-left: 58px; text-decoration: none; font-size: 28px; font-weight: bold; color: crimson; font-family: 'Brush Script MT'; letter-spacing: 2px;">
            FindHotel
        </a>
    </div>

    <div style="margin-top: -30px">
        <a class="nav-link active" href="/home"
           style="margin-left: 518px; text-decoration: none; font-size: 21px; font-weight: bold; color: saddlebrown">
            Почетна
        </a>
        <a class="nav-link active" href="/hotels"
           style="margin-left: 110px; text-decoration: none;font-size: 21px; font-weight: bold; color: saddlebrown">
            Хотели
        </a>

        <a class="btn btn-success btn-sm-ml-3" href="/aboutUs"
           style="margin-left: 110px; text-decoration: none;font-size: 21px; font-weight: bold; color: saddlebrown">
            <i class="fa fa-shopping-cart"></i>За нас
        </a>

        <a class="btn btn-light btn-sm-ml-3" href="/contact"
           style="margin-left: 110px; text-decoration: none;font-size: 21px; font-weight: bold; color: crimson">
            <i class="fa fa-shopping-cart"></i>Контакт
        </a>

        <br>
    </div>
</header>
<br>
<br>
<br>
<br>

<div style="margin-left: 588px; margin-top: -23px;">
    <div style="font-family: 'Brush Script MT,cursive'; background: pink;  border-radius: 25px;height: 287px; width: 488px">

        <div style="margin-left: 86px; font-size: 18px; font-weight: normal">
            <br>
           <span>
        Теодора Стоиловска
        <br>
        teodora.stoilovska@students.finki.ukim.mk
           </span>
            
            <br>
            <br>


            <span>
        Викторија Серафимовска
        <br>
        viktorija.serafimovska@students.finki.ukim.mk
    </span>
            <br>
            <br>


            <span>
        Габриела Шурбеска
        <br>
        gabriela.shurbeska@students.finki.ukim.mk
    </span>
            <br>
            <br>

            <span>
        Љубица Серафимовска
        <br>
        ljubica.serafimovska@students.finki.ukim.mk
    </span>

        </div>
    </div>

    <br>
    <br>

    <div>
        <a href="/home"> <img th:src="@{/images/FindHotelImage.png}"
                              style="height: 180px; width: 400px; border-radius: 18px; margin-left: 38px">
        </a>
    </div>

</div>

<footer style="margin-top: 68px">
    <hr>
    <span style="margin-left: 728px"> ©2022. FindHotel Скопје</span>
</footer>

</body>
</html>